<div class="container-fluid p-0">
    <div class="h-c-1">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-9 mb-5 mt-4">
                <P>
                    MECHANICS
                </P>
            </div>
            <div class="p-ml-1 p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum.
                </p>
            </div>
            <div class="text-center">
                <button class="btn btn-global-2 mr-2">DONLOAD FORMS</button>
                <button class="btn btn-global-2 ml-2">DONLOAD MECHANICS</button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="global-hr"></div>
        </div>
    </div>

    <div class="w-100 pt-5 pb-5">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ONLINE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">OFFLINE</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">ONLINE</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">OFFLINE</div>
            </div>
        </div>
    </div>
</div>