<div class="global-backdrop" *ngIf="showSidebar" (click)="closeSidebar()">

</div>
<div class="global-hamburger" (click)="openSidebar()" *ngIf="!showSidebar">
    <i class="fa fa-bars open" aria-hidden="true"></i>
</div>
<div class="global-sidebar-cont" id="my-side-nav" [ngClass]="{'show-global-side-bar': showSidebar, 'hide-global-side-bar': !showSidebar, 'third': false}">
    <div class="global-hamburger" (click)="closeSidebar()" *ngIf="showSidebar">
        <i class="fa fa-close close" aria-hidden="true"></i>
    </div>
    <div>
        <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active-link">HOME
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/about']" class="nav-link" routerLinkActive="active-link">ABOUT
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/categories']" class="nav-link" routerLinkActive="active-link">CATEGORIES
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/judges']" class="nav-link" routerLinkActive="active-link">JUDGES
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/winners']" class="nav-link" routerLinkActive="active-link">WINNERS
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/submit']" class="nav-link" routerLinkActive="active-link">SUBMIT
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/news-updates']" class="nav-link" routerLinkActive="active-link">NEWS & UPDATES
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/faqs']" class="nav-link" routerLinkActive="active-link">FAQS
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/mechanics']" class="nav-link" routerLinkActive="active-link">MECHANICS
            <span class="sr-only">(current)</span>
        </a>
    </div>
    <div>
        <a [routerLink]="['/entry']" class="nav-link" routerLinkActive="active-link">MY ENTRY
            <span class="sr-only">(current)</span>
        </a>
    </div>

</div>