@import '~sass/variables';

//global sidebar design
.global-hamburger i.open {
    position: fixed;
    top: 34px;
    left: 36px;
    cursor: pointer;
    font-size: 30px;
    color:$color-1;
    z-index: 4;
}
.global-hamburger i.close {
    position: absolute;
    top: 34px;
    left: 280px;
    cursor: pointer;
    font-size: 30px;
    color:$color-1;
    z-index: 4;
    opacity: 1;
}
.global-sidebar-cont {
    width: 260px;
    position: fixed;
    height: 100%;
    background: #000000;
    top: 0;
    z-index: 5;
    display: flex;
    padding: 57px 0 0 18px;
    flex-direction: column;
    .nav-link {
        color:$color-1;
        font-weight: 200;
    }
}

.hide-global-side-bar {
    left: -320px!important;
    margin-left: 0!important;
    transition: all .7s;
}
.show-global-side-bar {
    left: 0!important;
    transition: all .7s;
}

.global-backdrop {
    position: fixed;
    background:rgba(169, 162, 162, 0.5);
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
}
.active-link {
    font-weight: bold !important;
}