@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


//global start here

html,body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x:hidden; 
}

//global text style start here
p {
    color:$color-1;
    font-size: 18px;
  
}
.p-times-n-r p {
    font-family: 'Times New Roman', Times, serif;
}
.hs-1 {
    P {
        font-size: 44px;
        color: $color-1;
        font-weight:200; 
        margin-bottom: 1rem;
    }
   
}
.hs-2 {
    P {
        font-size: 25px;
        color: $color-1;
        font-weight:bold; 
        margin-bottom: 1rem;
    }
  
}
.hs-3 {
   P {
    font-size: 14px;
    color: $color-1;
    font-weight:bold; 
    margin-bottom: 1rem;
   }
}
.hs-4 {
   P {
    font-size: 25px;
    color: $color-3;
    font-weight:bold; 
    margin-bottom: 1rem;
   }
}
.hs-5 {
    P {
     font-size: 100px;
     color: $color-1;
     font-weight:bold; 
     margin-bottom: 1rem;

    }
 }
 .hs-6 {
    P {
     font-size: 80px;
     color: $color-1;
     font-weight:bold; 
     margin-bottom: 1rem;
     line-height: 28px;
    }
 }
 .hs-7 {
    P {
     font-size: 20px;
     color: $color-1;
     margin-bottom: 1rem;
     line-height: 28px;
    }
 }
 .hs-8 {
    P {
     font-size: 30px;
     color: $color-1;
     margin-bottom: 1rem;
     line-height: 28px;
    }
 }
 .hs-9 {
    P {
     font-size: 45px;
     color: $color-1;
     margin-bottom: 1rem;
     line-height: 28px;
     font-weight:bold; 
    }
 }
 .hs-10 {
    P {
     font-size: 20px;
     color: $color-1;
     margin-bottom: 1rem;
     line-height: 28px;
     font-weight:bold; 
    }
 }
 .hs-11 {
    p {
     font-size: 40px;
     color: $color-3;
     margin-bottom: 2rem;
     line-height: 28px;
     font-weight:bold; 
    }
 }
 .hs-12 {
    p {
     font-size: 25px;
     color: $color-1;
     margin-bottom: 1rem;
    }
 }
.p-ml-1 {
    max-width: 486px;
}

//background and color global 
.bg-c-1 {
    background: $color-1;
}
.c-c-1 {
    p {
        color:$color-3;
    }
}
//global button design

.btn.focus, .btn:focus {
    box-shadow:none !important;
}
.btn-global-1 {
    background: none;
    color: $color-2;
    border: none;
    border-bottom: solid 2px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    font-size: 14px;
    outline: inherit;
    margin-bottom: 0 !important;
    &:focus {
        outline: none;
    }
}
.btn-global-2 {
    min-width: 400px;
    height: 40px;
    background: $color-1;
    color:$color-3;
    border-radius: 0 !important;
    margin-bottom: 1.5rem !important;
    font-size: 14px;
    font-weight: bold;
}
.btn-global-3 {
    min-width: 400px;
    height: 40px;
    background: transparent;
    border: solid 2px $color-3 !important;
    color:$color-3;
    border-radius: 0;
    margin-bottom: 1.5rem !important;
    font-size: 14px;
    font-weight: bold;
}
.btn-global-4 {
    min-width: 400px;
    height: 40px;
    display: flex !important;
    background: $color-1;
    color: #ffffff;
    border-radius: 0 !important;
    margin-bottom: 1.5rem !important;
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
    justify-content: space-between;
    padding: 0 20px !important;
}

//global circle 1
.global-c-1 {
    width: 168px;
    height: 168px;
    border: solid 6px $color-1;
    border-radius: 50%;
    position: relative;
  
    margin: auto;
}
.global-c-1-num {
    position: absolute;
    top: 0px;
    left: -4px;
    background:$color-1;
    color: #ffffff;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:14px;
}

//global hr
.global-hr {
    height: 1px;
    width: 100%;
    background: $color-1;
  
}
.with-l-d:before {
    content: " ";
    width: 1px;
    height: 182px;
    position: absolute;
    background: $color-1;
    left: 50%;
    right: 50%;
}
//global container
.h-c-1 {
    min-height: 400px;
    background-image: url("../assets/images/home-bg-1.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h-c-2 {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h-c-3 {
    min-height: 248px;
    background-image: url("../assets/images/home-bg-1.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h-c-4 {
    min-height: 248px;
    background-image: url("../assets/images/home-bg-2.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
}

//global image design
.g-img-1 {
    width: 100%;
    object-fit: cover;
}
.g-img-2 {
    margin-bottom: 1.5rem;
    width: 100%;
    object-fit: cover;
}
.g-img-3{
    height: 430px !important;
    width: 100%;
    object-fit: cover;
}
.g-img-4{
    height: 215px !important;
    width: 100%;
    object-fit: cover;
}
.g-img-5 {
    max-width: 538px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}
.g-img-6 {
    max-width: 254px;
    max-height: 142px;
    margin-bottom: 1.5rem;
    width: 100%;
    object-fit: cover;
}
.g-pl-0 {
    .col-sm {
        padding: 0 !important;
    }
}
.g-img-title-1 {
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: $color-3;
    font-size: 14px;
    font-weight: bold;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.g-img-title-2 {
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    bottom: 70px;
    left: 30px;
    color: $color-3;
    font-size: 14px;
    font-weight: bold;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.g-img-title-3 {
    cursor: pointer;
    text-decoration: underline;
    color: $color-3;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.g-img-desc {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 12px;
    color: #ffffff;
    width: 75%;
    white-space: unset;
    min-height: 34px;
}

//global circle
.circle-cont-2{
    max-width: 794px;
    margin: auto !important;
    .logo-t-c {
      p {
        color: $color-1;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
      }
    }
}
//global accordion
.global-accordion {
    justify-content: space-between;
    align-items: center;
    height: 200px;
    text-align: left;
    padding: 0 90px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    .g-acc-desc {
        p {
            margin: 0px;
            font-size: 40px;
            color: $color-3;
        }
    }
    .g-acc-arrow {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
}


//global custom image header 
.a-w-im-t {
    width: 23px;
}


//global box image 
//gawa
.box-img-1 {
    min-height: 267px;
    background-image: url("../assets/images/home-bg-3.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 318px;
}
.box-img-title-1 {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    flex-direction: column;
    p {
        margin: 0px;
        color:$color-3;
        position: relative;
        font-size: 20px;
        font-weight: bold;
    }
}
.box-img-title-center {
    margin-bottom: auto;
    justify-content: baseline;
    margin-top: auto;
}
.box-img-1:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(145,114,9,0.8);
}
.box-img-dsc {
    max-width: 80%;
    p {
        color:$color-3;
        margin-top: 12px;
    }
}
.mb-4-c {
    .col-sm {
        margin-bottom:1.7rem!important; 
    }
   
}

//global nav tabs
.global-nav-tabs.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    .nav-link{
        border:none !important;
    }
    a {
        font-size:25px;
        color:$color-1;
        padding-bottom: 0;
        margin-bottom: 36px;
    }
    .nav-link.active {
        font-size:25px;
        color:$color-1;
        font-weight: bold;
        border-bottom: solid 3px $color-1 !important;
      
    }
 
}
.parent-class-m { 
    font-size: 14px;
    color: $color-1;
    text-align: left;
    max-width: 607px;
    margin: auto;
    margin-bottom: 18px;
    p,span {
        font-size: 14px;
        color:$color-1;
    }
}


//global custom css
.w-100 {
    width: 100%;
}
.m-auto-g {
    margin: auto;
}
.col-centered {
    display: block !important;
    float: none !important;
    margin: auto;
}
.p-relative {
    position: relative;
}
.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-min-w {
    max-width: none !important
}