@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


//global start here

html,body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x:hidden; 
}

//global text style start here
p {
    color:$color-1;
    font-size: 18px;
  
}
.p-times-n-r p {
    font-family: 'Times New Roman', Times, serif;
}
.hs-1 {
    P {
        font-size: 44px;
        color: $color-1;
        font-weight:200; 
        margin-bottom: 1rem;
    }
   
}
.hs-2 {
    P {
        font-size: 25px;
        color: $color-1;
        font-weight:bold; 
        margin-bottom: 1rem;
    }
  
}
.hs-3 {
   P {
    font-size: 14px;
    color: $color-1;
    font-weight:bold; 
    margin-bottom: 1rem;
   }
}
.hs-4 {
   P {
    font-size: 25px;
    color: $color-3;
    font-weight:bold; 
    margin-bottom: 1rem;
   }
}
.hs-5 {
    P {
     font-size: 100px;
     color: $color-1;
     font-weight:bold; 
     margin-bottom: 1rem;

    }
 }
 .hs-6 {
    P {
     font-size: 80px;
     color: $color-1;
     font-weight:bold; 
     margin-bottom: 1rem;
     line-height: 28px;
    }
 }

.p-ml-1 {
    max-width: 486px;
}

//background and color global 
.bg-c-1 {
    background: $color-1;
}
.c-c-1 {
    p {
        color:$color-3;
    }
}


//global sidebar design
.global-hamburger i {
    position: absolute;
    top: 20px;
    left: 36px;
    cursor: pointer;
    font-size: 30px;
    color:$color-1;
}

//global button design
.btn-global-1 {
    background: none;
    color: $color-2;
    border: none;
    border-bottom: solid 2px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    font-size: 14px;
    outline: inherit;
    margin-bottom: 1.5rem !important;
    display: block;
    &:focus {
        outline: none;
    }
}
.btn-global-2 {
    min-width: 400px;
    height: 40px;
    background: $color-1;
    color:$color-3;
    border-radius: 0 !important;
    margin-bottom: 1.5rem !important;
    font-size: 14px;
    font-weight: bold;
}
.btn-global-3 {
    min-width: 400px;
    height: 40px;
    background: transparent;
    border: solid 2px $color-3 !important;
    color:$color-3;
    border-radius: 0;
    margin-bottom: 1.5rem !important;
    font-size: 14px;
    font-weight: bold;
}
.btn-global-4 {
    min-width: 400px;
    height: 40px;
    display: flex !important;
    background: $color-1;
    color: #ffffff;
    border-radius: 0 !important;
    margin-bottom: 1.5rem !important;
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
    justify-content: space-between;
    padding: 0 20px !important;
}

//global circle 1
.global-c-1 {
    width: 168px;
    height: 168px;
    border: solid 10px $color-1;
    border-radius: 50%;
    position: relative;
  
    margin: auto;
}
.global-c-1-num {
    position: absolute;
    top: 0px;
    left: -4px;
    background:$color-1;
    color: #ffffff;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:14px;
}

//global hr
.global-hr {
    height: 3px;
    width: 100%;
    background: $color-1;
}
//global container
.h-c-1 {
    min-height: 400px;
    background-image: url("../assets/images/home-bg-1.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h-c-2 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h-c-3 {
    min-height: 248px;
    background-image: url("../assets/images/home-bg-1.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

//global image design
.g-img-1 {
    max-width: 538px;
    min-width: 538px;
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    object-fit: fill;
}
.g-img-2 {
    max-width: 254px;
    max-height: 142px;
    min-width: 254px;
    min-height: 142px;
    margin-bottom: 1.5rem;
    width: 100%;
    object-fit: fill;
}
.g-img-3{
    height: 430px !important;
    width: 100%;
    object-fit: fill;
}
.g-img-4{
    height: 215px !important;
    width: 100%;
    object-fit: fill;
}
.g-pl-0 {
    .col-sm {
        padding: 0 !important;
    }
}
.g-img-title-1 {
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: $color-3;
    font-size: 14px;
    font-weight: bold;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.g-img-title-2 {
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    bottom: 70px;
    left: 30px;
    color: $color-3;
    font-size: 14px;
    font-weight: bold;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.g-img-title-3 {
    cursor: pointer;
    text-decoration: underline;
    color: $color-3;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.g-img-desc {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 12px;
    color: #ffffff;
    width: 75%;
    white-space: unset;
    min-height: 34px;
}






.w-100 {
    width: 100%;
}
.m-auto-g {
    margin: auto;
}
.col-centered {
    display: block !important;
    float: none !important;
    margin: auto;
}
.p-relative {
    position: relative;
}
.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}