@import '~sass/variables';


$font-stack:Helvetica, sans-serif;


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-color;
}
.custom-header {
    background-color: $primary-color;
    color:$secondary-color;
    height: 120px;
}


