@import '~sass/variables';


$font-stack:Helvetica, sans-serif;


body {
  font: 100% $font-stack;
  color: $color-1;
  background-color: $color-1;
}
.custom-header {
    background-color: $color-1;
    color:$color-2;
    height: 120px;
}


