<div class="container-fluid p-0">

    <div class="h-c-1">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-9 mb-5 mt-4">
                <P>
                    CATEGORIES
                </P>
            </div>
            <div class="p-ml-1 p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum.
                </p>
            </div>
        </div>

    </div>

    <div class="w-100 bg-c-1">
        <div class="container text-center  h-c-2">
            <div class="hs-4">
                <p>
                    NEED HELP CHOOSING A CATEGORY?
                </p>
            </div>
            <div class="p-ml-1 c-c-1 p-times-n-r">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam
                </p>
            </div>
            <button class="btn btn-global-3">ASSESS YOUR PROJECT NOW!</button>
        </div>
    </div>

    <div class="w-100 text-center pt-4 pb-4">
        <div class="container">
            <div class="hs-2">
                <P>
                    CRITERIA
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    There are Four criteria for the Team and Individual Awards:
                </p>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-10 mt-2">
                        <P>
                            Behavioral Manifestation of Group Values
                        </P>
                    </div>
                    <div class="hs-2 m-auto">
                        <p>
                            40%
                        </p>
                    </div>
                    <button class="btn-global-1" (click)="open(content)">View Details</button>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-10 mt-2">
                        <P>
                            Contribution to Business Objectives as evidenced by Results
                        </P>
                    </div>
                    <div class="hs-2 m-auto">
                        <p>
                            40%
                        </p>
                    </div>
                    <button class="btn-global-1" (click)="open(content)">View Details</button>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-10 mt-2">
                        <P>
                            Exceptional Nature
                        </P>
                    </div>
                    <div class="hs-2 m-auto">
                        <p>
                            40%
                        </p>
                    </div>
                    <button class="btn-global-1" (click)="open(content)">View Details</button>
                </div>

            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="global-hr"></div>
        </div>
    </div>

    <div class="w-100 pt-4 pb-4">
        <div class="container-fluid">
            <div class="hs-2 text-center">
                <P>
                    EXCELLENCE AWARDS
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do
                </p>
            </div>

        </div>

        <div id="accordion">
            <div class="d-flex global-accordion c-bg-1" id="headingOne">
                <div class="g-acc-desc">
                    <p>
                        CUSTOMER
                    </p>
                    <p>
                        FOCUS
                    </p>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    (click)="showAccordion(0)" *ngIf="showAccordionActive == 1">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    (click)="showAccordion(1)" *ngIf="showAccordionActive != 1">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="container pt-5">
                    <div class="row ">
                        <div class="col-sm">
                            <img class="img-fluid g-img-1" src="../../../../assets/images/abs-jpg.jpg">
                        </div>
                        <div class="col-sm p-relative d-flex align-items-start flex-column">
                            <div class="p-times-n-r mb-auto">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                            <div class="w-100">
                                <button class="btn btn-global-2 mb-0 no-min-w w-100">NOMINATE NOW!</button>
                            </div>
                        </div>
                    </div>
                    <div class="hs-3 text-center mt-4">
                        <p>2017 WINNERS</p>
                    </div>
                    <div class="row mt-3 mb-4 th-img-1">
                        <div class="col-sm">
                            <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                            <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                            <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                        </div>
                        <div class="col-sm">
                            <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                            <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                            <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                        </div>
                        <div class="col-sm">
                            <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                            <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                            <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                        </div>
                        <div class="col-sm">
                            <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                            <div class="g-img-title-3 absolute-centered">SEE ALL</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex global-accordion c-bg-2" id="headingTwo">
                <div class="g-acc-desc">
                    <p>BUSINESS</p>
                    <p>MANAGEMENT</p>

                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                    (click)="showAccordion(0)" *ngIf="showAccordionActive == 2">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                    (click)="showAccordion(2)" *ngIf="showAccordionActive != 2">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="container pt-4">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex global-accordion c-bg-3" id="headingthree">
                <div class="g-acc-desc">
                    <p>OPERATIONS</p>
                    <p>MANAGEMENT</p>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree"
                    (click)="showAccordion(0)" *ngIf="showAccordionActive == 3">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree"
                    (click)="showAccordion(3)" *ngIf="showAccordionActive != 3">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
            <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">
                <div class="container pt-4">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex global-accordion c-bg-4" id="headingFour">
                <div class="g-acc-desc">
                    <p>HUMAN</p>
                    <p>RESOURCE</p>
                    <p>FOCUS</p>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
                    (click)="showAccordion(0)" *ngIf="showAccordionActive == 4">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
                    (click)="showAccordion(4)" *ngIf="showAccordionActive != 4">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="container pt-4">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex global-accordion c-bg-5" id="headingFive">
                <div class="g-acc-desc">
                    <p>CORPORATE</p>
                    <p>IMAGE-BUILDING</p>

                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"
                    (click)="showAccordion(0)" *ngIf="showAccordionActive == 5">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"
                    (click)="showAccordion(5)" *ngIf="showAccordionActive != 5">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="container pt-4">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex global-accordion c-bg-6" id="headingSix">
                <div class="g-acc-desc">
                    <p>CORPORATE</p>
                    <p>IMAGE-BUILDING</p>

                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix"
                    (click)="showAccordion(0)" *ngIf="showAccordionActive == 6">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="g-acc-arrow" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix"
                    (click)="showAccordion(6)" *ngIf="showAccordionActive != 6">
                    <span class="mr-4">LEARN MORE</span>

                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="container pt-4">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="w-100 pt-4 pb-4">
        <div class="container-fluid">
            <div class="hs-2 text-center">
                <P>
                    INDIVIDUAL AWARDS
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do
                </p>
            </div>

        </div>
    </div>

    <div class="w-100  h-c-4 pt-5">
        <div class="container">
            <div class="hs-11 text-center">
                <p>THE UNSUNG HERO</p>
                <p>AWARDS</p>
            </div>
            <div class="row mt-5">
                <div class="col-sm">
                    <img class="img-fluid g-img-1" src="../../../../assets/images/abs-jpg.jpg">
                </div>
                <div class="col-sm p-relative d-flex align-items-start flex-column">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="w-100">
                        <button class="btn btn-global-2 mb-0 no-min-w w-100">NOMINATE NOW!</button>
                    </div>
                </div>
            </div>
            <div class="hs-3 text-center mt-4">
                <p>2017 WINNERS</p>
            </div>
            <div class="row mt-3 mb-4 th-img-1">
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-3 absolute-centered">SEE ALL</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100  h-c-4 pt-5">
        <div class="container">
            <div class="hs-11 text-center">
                <p>LIFETIME ACHIEVEMENT</p>
                <p>AWARDS</p>

            </div>
            <div class="row mt-5">
                <div class="col-sm">
                    <img class="img-fluid g-img-1" src="../../../../assets/images/abs-jpg.jpg">
                </div>
                <div class="col-sm p-relative d-flex align-items-start flex-column">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="w-100">
                        <button class="btn btn-global-2 mb-0 no-min-w w-100">NOMINATE NOW!</button>
                    </div>
                </div>
            </div>
            <div class="hs-3 text-center mt-4">
                <p>2017 WINNERS</p>
            </div>
            <div class="row mt-3 mb-4 th-img-1">
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-3 absolute-centered">SEE ALL</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100  h-c-4 pt-5">
        <div class="container">
            <div class="hs-11 text-center">
                <p>SPECIAL</p>
                <p>AWARDS</p>

            </div>
            <div class="row mt-5">
                <div class="col-sm">
                    <img class="img-fluid g-img-1" src="../../../../assets/images/abs-jpg.jpg">
                </div>
                <div class="col-sm p-relative d-flex align-items-start flex-column">
                    <div class="p-times-n-r mb-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="w-100">
                        <button class="btn btn-global-2 mb-0 no-min-w w-100">NOMINATE NOW!</button>
                    </div>
                </div>
            </div>
            <div class="hs-3 text-center mt-4">
                <p>2017 WINNERS</p>
            </div>
            <div class="row mt-3 mb-4 th-img-1">
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-3 absolute-centered">SEE ALL</div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="global-hr"></div>
        </div>
    </div>

    <div class="w-100">
        <div class="container mt-4">
            <div class="p-ml-1  p-times-n-r m-auto text-center">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do
                </p>
            </div>
            <div class="text-center">
                <button class="btn btn-global-2">NOMINATE NOW!</button>
            </div>
        </div>
    </div>



</div>

<ng-template #content let-c="close" let-d="dismiss" class="global-modal">
    <div class="globa-modal">
        <div class="modal-header p-relative">
            <div class="modal-title">
                <p>Behavioral Manifestation of Group Values</p>
                <p> (40%)</p>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                In the completion of the achievement the individual or team members must have demonstrated one or more of the following Lopez
                Values:
            </p>
            <div class="title-text">
                <p>PIONEERING ENTREPRENEURAL SPIRIT​</p>
            </div>
            <p>
                - Envisioning possibilities and having the courage to make them real
                <br> - We choose to build businesses that are catalyst for national development
            </p>
            <div class="title-text">
                <p>BUSINESS EXCELLENCE</p>
            </div>
            <p>
                - Being the best in everything we do in order to gain and maintain leadership in the markets we serve
                <br> - We conduct our business along a very high bar and hold ourselves accountable for excellence
            </p>

            <div class="title-text">
                <p>UNITY</p>
            </div>
            <p>
                - Having a strong shared identity based on a common vision, mutual respect, "malasakit" and accountability
                <br> - We work best when our people and our various businesses collaborate and help each other and constantly
                build a culture that encourages this
            </p>
            <div class="title-text">
                <p>NATIONALISM</p>
            </div>
            <p>
                - Carrying the name "Filipino" and representing the Philippines with pride
            </p>
        </div>
    </div>
</ng-template>