@import '~sass/variables';
.global-c-1+.hs-10 {
    min-height: 58px;
}
.c-bg-1 {
    background-image:url("../../../../assets/images/acc-bg-1.png"); 
}
.c-bg-2 {
    background-image:url("../../../../assets/images/acc-bg-2.png"); 
}
.c-bg-3 {
    background-image:url("../../../../assets/images/acc-bg-3.png"); 
}
.c-bg-4 {
    background-image:url("../../../../assets/images/acc-bg-4.png"); 
}
.c-bg-5 {
    background-image:url("../../../../assets/images/acc-bg-5.png"); 
}
.c-bg-6 {
    background-image:url("../../../../assets/images/acc-bg-6.png"); 
}