<div class="container-fluid p-0">

    <div class="w-100 pt-3">
        <div class="container text-center">
            <img class="img-fluid a-w-im-t" src="../../../../assets/images/logo-1.png">
            <div class="hs-7">
                <P>
                    Lopez Achievement Awards
                </P>
            </div>
        </div>
        <div class="global-hr">
        </div>
    </div>

    <div class="h-c-1">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-9 mb-5 mt-4">
                <P>
                    ABOUT
                </P>
            </div>
            <div class="p-ml-1 p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum.
                </p>
            </div>
        </div>

    </div>

    <div class="w-100 bg-c-1">
        <div class="container text-center  h-c-2">
            <div class="hs-4">
                <p>
                    NEED HELP CHOOSING A CATEGORY?
                </p>
            </div>
            <div class="p-ml-1 c-c-1 p-times-n-r">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam
                </p>
            </div>
            <button class="btn btn-global-3">ASSESS YOUR PROJECT NOW!</button>
        </div>
    </div>

    <div class="w-100 text-center pt-4 pb-4">
        <div class="container">
            <div class="hs-2">
                <P>
                    CRITERIA
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    There are three criteria for the Team and Individual Awards:
                </p>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-10 mt-2">
                        <P>
                            Behavioral Manifestation of Group Values
                        </P>
                    </div>
                    <div class="hs-2 m-auto">
                        <p>
                            40%
                        </p>
                    </div>
                    <button class="btn-global-1">View Details</button>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-10 mt-2">
                        <P>
                            Contribution to Business Objectives as evidenced by Results
                        </P>
                    </div>
                    <div class="hs-2 m-auto">
                        <p>
                            30%
                        </p>
                    </div>
                    <button class="btn-global-1">View Details</button>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-10 mt-2">
                        <P>
                            Exceptional Nature
                        </P>
                    </div>
                    <div class="hs-2 m-auto">
                        <p>
                            30%
                        </p>
                    </div>
                    <button class="btn-global-1">View Details</button>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="global-hr"></div>
        </div>
    </div>

    <div class="w-100 text-center pt-4 pb-4">
        <div class="container-fluid">
            <div class="hs-2">
                <P>
                    EXCELLENCE AWARDS
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do
                </p>
            </div>

        </div>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <!-- <i class="fa fa-chevron-up" aria-hidden="true"></i> -->

                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>