<div class="container-fluid p-0">
    <div class="h-c-1">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-9 mb-5 mt-4">
                <P>
                    ABOUT
                </P>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex flex-column">
                        <img class="img-fluid a-l-img" src="../../../../assets/images/logo.png">
                        <div class="hs-8 mt-3">
                            <P>
                                Lopez Achievement Awards
                            </P>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <iframe class="y-i-frame" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="global-hr">
            </div>
        </div>
    </div>

    <div class="w-100 pt-4 pb-4">
        <div class="container text-center">

            <div class="p-ml-1 p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum.
                </p>
            </div>
            <div class="global-hr with-l-d">
            </div>
            <div class="row">

                <div class="col-sm">
                    <div class="hs-2 mt-4">
                        <P>
                            VISSION
                        </P>
                    </div>
                    <div class="p-ml-1 p-times-n-r m-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="hs-2 mt-4">
                        <P>
                            MISSION
                        </P>
                    </div>
                    <div class="p-ml-1 p-times-n-r m-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim
                        </p>
                    </div>
                </div>
            </div>
            <button class="btn btn-global-2 mt-5">NOMINATE NOW!</button>
        </div>
    </div>



    <div class="h-c-3">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-2">
                <P>
                    Lopez Group of Companies
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim
                </p>
            </div>

            <div class="row circle-cont-2">
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row circle-cont-2 mt-3">
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">
                            <p>LOGO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="global-hr">
            </div>
        </div>
    </div>

    <div class="w-100  text-center pt-4 pb-4">
        <div class="container">
            <div class="hs-2">
                <P>
                    Lopez Group of Companies
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim
                </p>
            </div>
            <div class="hs-9 mb-5 mt-4">
                <P>
                    2017
                </P>
            </div>

            <div class="row min-h-steps">
                <div class="col-sm-10">
                    <!-- First Step -->
                    <div class="setup-content-3" id="step-5">
                        <div class="row">
                            <div class="col-sm p-relative">
                                <img class="img-fluid g-img-5" src="../../../../assets/images/abs-jpg.jpg">
                            </div>
                            <div class="col-sm  text-left">
                                <div class="p-ml-1 p-times-n-r m-auto">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                                <div class="p-ml-1 p-times-n-r m-auto">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 mb-4 th-img-1">
                            <div class="col-sm">
                                <img class="img-fluid g-img-6" src="../../../../assets/images/abs-jpg.jpg">
                            </div>
                            <div class="col-sm">
                                <img class="img-fluid g-img-6" src="../../../../assets/images/abs-jpg.jpg">
                            </div>
                            <div class="col-sm">
                                <img class="img-fluid g-img-6" src="../../../../assets/images/abs-jpg.jpg">
                            </div>
                            <div class="col-sm">
                                <img class="img-fluid g-img-6" src="../../../../assets/images/abs-jpg.jpg">
                            </div>
                        </div>
                    </div>


                    <!-- Second Step -->
                    <div class="setup-content-3" id="step-6">

                    </div>


                    <!-- Third Step -->
                    <div class="setup-content-3" id="step-7">

                    </div>


                    <!-- Fourth Step -->
                    <div class="setup-content-3" id="step-8">

                    </div>

                </div>
                <div class="col-sm-2">
                    <!-- Stepper -->
                    <div class="steps-form-3 m-auto">
                        <div class="steps-row-3 setup-panel-3 d-flex justify-content-between">
                            <div class="steps-step-3">
                                <div class="btn btn-info btn-circle-3 waves-effect ml-0 p-relative active">
                                    <div class="steps-form-year">2018</div>
                                </div>
                            </div>
                            <div class="steps-step-3">
                                <div class="btn btn-info btn-circle-3 waves-effect ml-0 p-relative">
                                    <div class="steps-form-year">2017</div>
                                </div>
                            </div>
                            <div class="steps-step-3">
                                <div class="btn btn-info btn-circle-3 waves-effect ml-0 p-relative">
                                    <div class="steps-form-year">2016</div>
                                </div>
                            </div>
                            <div class="steps-step-3">
                                <div class="btn btn-info btn-circle-3 waves-effect ml-0 p-relative">
                                    <div class="steps-form-year">2015</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="global-hr">
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="container text-center">
            <div class="hs-2">
                <P>
                    INCENTIVES
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim
                </p>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-2">
                        <P>
                            INCENTIVE 1
                        </P>
                    </div>
                    <div class="p-ml-1 p-times-n-r m-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="logo-t-c absolute-centered">

                        </div>
                    </div>
                    <div class="hs-2">
                        <P>
                            INCENTIVE 2
                        </P>
                    </div>
                    <div class="p-ml-1 p-times-n-r m-auto">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>