<footer class="global-footer">
    <div class="footer-modal">
        <div>
            <button class="btn btn-global-4 pull-right mb-0" (click)="clickShowHideBox()">
                <div>CONTACT US</div>
                <div>
                    <i class="fa " [ngClass]="{'fa-chevron-down':showBox,'fa-chevron-up':!showBox}" ria-hidden="true"></i>
                </div>
            </button>
        </div>

        <div class="" [ngClass]="{'chat-box-global-hide':!showBox,'chat-box-global-show':showBox}">
            <div *ngIf="showBox">
                <div class="footer-t-sy-1">
                    <p>
                        The Program Management Team
                    </p>
                </div>
                <div class="footer-t-sy-2">
                    <p>
                        Lopez Achievement Awards
                    </p>
                </div>

                <div class="footer-t-sy-3 d-flex mt-3">
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div>
                        <p> 5/F Rockwell Business Center Tower 3,Ortigas Avenue,Pasig City 1604</p>
                    </div>
                </div>
                <div class="footer-t-sy-3 d-flex mt-3">
                    <div>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div>
                        <p>kaventura@fphc.com (c/o Karen Ventura)</p>
                    </div>
                </div>
                <div class="footer-t-sy-3 d-flex mt-3">
                    <div>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div>
                        <p>449-6043/0917-55616</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="d-flex footer-style-1">
        <div class="mr-auto">© 2018. Lopez Achievement Awards</div>
        <div class="d-flex footer-style-1-item">
            <a class="" [routerLink]="['/home']">ABOUT</a>
            <a class="" href="https://careers.abs-cbn.com">CAREERS</a>
            <a class="" [routerLink]="['/home']">PRIVACY</a>
            <a class="" [routerLink]="['/home']">TERMS</a>
            <a class="" [routerLink]="['/home']">SITEMAP</a>
        </div>
        <div class="footer-style-2-item d-flex ml-4 mr-4">
            <div class="">
                Follow:
            </div>
            <div class="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>