@import '~sass/variables';


.global-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    .btn {
        min-width: 345px;
    }
}
.footer-modal {
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: normal;
    margin-top: 30px;

}
.footer-style-1 {
    height: 42px;
    border-top: solid 1px $color-1;
    align-items: center;
    display: flex;
    padding: 0 28px;
    font-size: 12px;
    color:$color-1;
    a,div {
        margin: 0 7px;
        color:$color-1 !important;
    }
}

.footer-style-2-item i {
    font-size: 20px;
    margin: 0 1px;
    cursor: pointer;
}
.chat-box-global-show {
    width: 345px;
    height: 260px;
    background:#ffffff;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    display: flex;
    padding: 14px 14px;

}

.footer-t-sy-1 {
    p {
        font-size: 14px;
        margin-bottom:4px;
    }
}
.footer-t-sy-2 {
    p {
        font-size: 14px;
        font-weight:bold; 
        margin-bottom:4px;
    }
}
.footer-t-sy-3 {
    i {
        color:$color-1;
        margin-right:12px; 
    }
    p {
        font-size: 14px;
        margin-bottom: 0;
    }
}


//responsive for footer

//size 728
@media only screen and (max-width: 846px) {
    .footer-modal {
        bottom: 105px !important;
    }
    .footer-style-1 {
        height: 105px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .mr-auto {
            margin-right: 0 !important;
        }
        div {
            margin-bottom: 4px !important;
        }
    }
}

@media only screen and (max-width: 420px) {
    .global-footer {
        .btn {
            min-width: 260px;
        }
    }
    .chat-box-global-show {
        width: 260px;
    }
}