<div class="container-fluid p-0 g-r-h">
    <div class="w-100">
        <div class="container text-center  h-c-2">
            <div class="p-ml-1 p-times-n-r">
                <p appCustomEllipsis [ellipsisLine]="3" class="padding-ellip">
                    The Lopez Achievement Awards, established in 2002, is an annual search for the most exemplary accomplishments of teams and
                    individuals within the Lopez Group of Companies that have contributed significantly to business objectives
                    and at the same time demonstrated the Group's core values. It is granted by the Lopez family, through
                    the Lopez Group Executive Committee. The Lopez Achievement Awards, established in 2002, is an annual
                    search for the most exemplary accomplishments of teams and individuals within the Lopez Group of Companies
                    that have contributed significantly to business objectives and at the same time demonstrated the Group's
                    core values. It is granted by the Lopez family, through the Lopez Group Executive Committee.
                </p>
            </div>
            <button class="btn-global-1">Read more</button>
        </div>
    </div>

    <div class="h-c-1">
        <div class="container text-center  h-c-2">
            <div class="hs-2 mt-3">
                <P>
                    CATEGORIES
                </P>
            </div>
            <div class="p-ml-1 p-times-n-r">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum.
                </p>
            </div>
            <button class="btn-global-1">See all categories</button>

            <div class="hs-12 mt-3">
                <P>
                    Excellence Awards
                </P>
            </div>
            <div class="p-ml-1 p-times-n-r">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="row mb-4-c">
                <div class="col-sm-4">
                    <div class="box-img-1">
                        <div class="box-img-title-1">
                            <div class="box-img-title-center">
                                <P>
                                    CUSTOMER FOCUS
                                </P>
                            </div>
                            <div class="global-hr"></div>
                        </div>
                        <div class="box-img-dsc p-times-n-r m-auto text-center p-relative ">
                            <p>
                                Introduction, enhancement and quality improvement of products or services, customer service and relationships, leading to
                                customer delight and satisfaction
                            </p>
                            <button class="btn-global-1">Read more</button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-img-1">
                        <div class="box-img-title-1">
                            <div class="box-img-title-center">
                                <P>
                                    BUSINESS MANAGEMENT
                                </P>
                            </div>
                            <div class="global-hr"></div>
                        </div>
                        <div class="box-img-dsc p-times-n-r m-auto text-center p-relative ">
                            <p>
                                Strategic positioning and partnering, business growth, management of assets and funds, liabilities and equities, leading
                                to higher shareholder value and returns
                            </p>
                            <button class="btn-global-1">Read more</button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-img-1">
                        <div class="box-img-title-1">
                            <div class="box-img-title-center">
                                <P>
                                    HUMAN RESOURCE FOCUS
                                </P>
                            </div>
                            <div class="global-hr"></div>
                        </div>
                        <div class="box-img-dsc p-times-n-r m-auto text-center p-relative ">
                            <p>
                                Improvement in work organization and performance management systems, employee development and well-being, leading to high
                                performance, employee engagement and satisfaction
                            </p>
                            <button class="btn-global-1">Read more</button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-img-1">
                        <div class="box-img-title-1">
                            <div class="box-img-title-center">
                                <P>
                                    OPERATIONS MANAGEMENT
                                </P>
                            </div>
                            <div class="global-hr"></div>
                        </div>
                        <div class="box-img-dsc p-times-n-r m-auto text-center p-relative ">
                            <p>
                                Management and improvement of processes, systems and capabilities, leading to productivity, organizational effectiveness
                                and efficiency
                            </p>
                            <button class="btn-global-1">Read more</button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-img-1">
                        <div class="box-img-title-1">
                            <div class="box-img-title-center">
                                <P>
                                    CORPORATE IMAGE-BUILDING
                                </P>
                            </div>
                            <div class="global-hr"></div>
                        </div>
                        <div class="box-img-dsc p-times-n-r m-auto text-center p-relative ">
                            <p>
                                Proactive communication through word or deed of company values, directions and activities to relevant stakeholders, leading
                                to a positive corporate image and business reputation
                            </p>
                            <button class="btn-global-1">Read more</button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-img-1">
                        <div class="box-img-title-1">
                            <div class="box-img-title-center">
                                <P>
                                    PUBLIC RESPONSIBILITY
                                </P>
                            </div>
                            <div class="global-hr"></div>
                        </div>
                        <div class="box-img-dsc p-times-n-r m-auto text-center p-relative ">
                            <p>
                                Business ethics, governance, environmental stewardship and community investment, leading to a better climate and support
                                structure for the business and better quality of life for its publics
                            </p>
                            <button class="btn-global-1">Read more</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-100">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-2">
                <P>
                    THE UNSUNG HERO NOMINATION
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim
                </p>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="h-c-3 d-flex justify-content-center">
            <div class="container text-center pt-4 pb-4">
                <div class="hs-2">
                    <P class="mb-0">
                        Submission of entries starts on June 01, 2018
                    </P>
                </div>
            </div>

        </div>
    </div>


    <!-- FOR PHASE 2 -->

    <!-- <div class="container-fluid p-0">
    <div class="w-100">
        <div class="container text-center  h-c-2">
            <div class="p-ml-1 p-times-n-r">
                <p>
                    The Lopez Achievement Awards, established in 2002, is an annual search for the most exemplary accomplishments of teams and
                    individuals within the Lopez Group of Companies that have contributed significantly to business objectives
                    and at the same time demonstrated the Group's core values. It is granted by the Lopez family, through
                    the Lopez Group Executive Committee.
                </p>
            </div>
            <button class="btn-global-1">Read more</button>
        </div>
    </div>

    <div class="h-c-1">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-2">
                <P>
                    JUDGES
                </P>
            </div>
            <div class="p-ml-1 m-auto p-times-n-r">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim
                </p>
            </div>
            <div class="hs-3">
                <p>
                    Deadline of submission of entry (MM/DD/YY)
                </p>

            </div>
            <div class="hs-3">
                <p>
                    Awarding Ceremony on (MM/DD/YY) at ABS-CBN Corporation, ELJ Bldg
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            1
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        <p>
                            LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            2
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        <p>
                            LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            3
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        <p>
                            LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            4
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        <p>
                            LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            5
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        <p>
                            LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <button class="m-auto-g btn-global-1">View full mechanics</button>
            </div>
            <button class="btn btn-global-2">NOMINATE NOW!</button>
        </div>
        <div class="container-fluid">
            <div class="global-hr">
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="container text-center  h-c-2">
            <div class="hs-2">
                <P>
                    CATEGORIES
                </P>
            </div>
            <div class="p-ml-1 p-times-n-r">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex earum.
                </p>
            </div>
            <button class="btn-global-1">See all categories</button>
        </div>
    </div>

    <div class="w-100 bg-c-1">
        <div class="container text-center  h-c-2">
            <div class="hs-4">
                <p>
                    NEED HELP CHOOSING A CATEGORY?
                </p>
            </div>
            <div class="p-ml-1 c-c-1 p-times-n-r">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam
                </p>
            </div>
            <button class="btn btn-global-3">ASSESS YOUR PROJECT NOW!</button>
        </div>
    </div>

    <div class="h-c-3">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-2 ">
                <P>
                    JUDGES
                </P>
            </div>
            <div class="p-ml-1  p-times-n-r m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim
                </p>
            </div>

            <button class="m-auto-g btn-global-1">View all judges</button>
        </div>
        <div class="container-fluid">
            <div class="global-hr">
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="container pt-5">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <div class="hs-5">
                        <P>
                            2017
                        </P>

                    </div>
                    <div class="hs-6">
                        <P>
                            WINNERS
                        </P>

                    </div>
                </div>
                <div class="col-sm-4 p-relative">
                    <img class="img-fluid g-img-1" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-1">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
            </div>
            <div class="row mt-4 mb-4 th-img-1">
                <div class="col-sm-4">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm-4">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm-4">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-2">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                    <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                </div>
                <div class="col-sm-4">
                    <img class="img-fluid g-img-2" src="../../../../assets/images/abs-jpg.jpg">
                    <div class="g-img-title-3 absolute-centered">SEE ALL</div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="global-hr">
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="hs-2 text-center mt-4">
            <P>
                NEWS && UPDATES
            </P>
        </div>
        <div class="row g-pl-0">
            <div class="col-sm-4">
                <img class="img-fluid g-img-3" src="../../../../assets/images/abs-jpg.jpg">
                <div class="g-img-title-1">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-fluid g-img-4" src="../../../../assets/images/abs-jpg.jpg">
                        <div class="g-img-title-1">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                        <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-fluid g-img-4" src="../../../../assets/images/abs-jpg.jpg">
                        <div class="g-img-title-1">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                        <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-fluid g-img-4" src="../../../../assets/images/abs-jpg.jpg">
                        <div class="g-img-title-1">PROJECT TITLE HERE LOREM IPSUM SIT AMET</div>
                        <div class="g-img-desc">LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET LOREM IPSUM SIT AMET</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-fluid g-img-4" src="../../../../assets/images/abs-jpg.jpg">
                        <div class="g-img-title-3 absolute-centered">VIEW ALL</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->