@import '~sass/variables';

.h-c-1 {
    min-height: 400px;
    background-image: url("../../../../assets/images/home-bg-1.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.h-c-2 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
