<div class="global-hamburger">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<div class="container-fluid p-0">
    <div class="h-c-1">
        <div class="container text-center">
            <img class="img-responsive" src="../../../../assets/images/logo.png">
            <div class="hs-1">
                Lopez Achievement Awards
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="container text-center  h-c-2">
            <div class="p-ml-1">
                <p>
                    The Lopez Achievement Awards, established in 2002, is an annual search for the most exemplary accomplishments of teams and
                    individuals within the Lopez Group of Companies that have contributed significantly to business objectives
                    and at the same time demonstrated the Group's core values. It is granted by the Lopez family, through
                    the Lopez Group Executive Committee.
                </p>
            </div>
            <button class="btn-global-1">Read more</button>
        </div>
    </div>

    <div class="h-c-1">
        <div class="container text-center pt-4 pb-4">
            <div class="hs-2">
                HOW TO JOIN
            </div>
            <div class="p-ml-1 m-auto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim
                </p>
            </div>
            <div class="hs-3">
                Deadline of submission of entry (MM/DD/YY)
            </div>
            <div class="hs-3">
                Awarding Ceremony on (MM/DD/YY) at ABS-CBN Corporation, ELJ Bldg
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            1
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            2
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            3
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            4
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                    </div>
                </div>
                <div class="col-sm">
                    <div class="global-c-1">
                        <div class="global-c-1-num">
                            5
                        </div>
                    </div>
                    <div class="hs-3 mt-2">
                        LOREM IPSUM SIT AMET CONSECTETUR ADIPISCING
                    </div>
                </div>
            </div>
            <button class="m-auto-g btn-global-1">View full mechanics</button>
            <button class="btn btn-global-2">NOMINATE NOW!</button>
        </div>
    </div>
</div>